$color1: blue;
$color2: #ec930c;
$color3: whitesmoke;
$color4: white;
$tableborder: 2px solid #8c6b48;
$positionCenter: center;
$positionGroove: groove;
$positionAuto: auto;
$size20: 20px;
$size15: 15px;
$size10: 10px;